{% extends "base.html" %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="container-fluid new-btn">
        <div class="row" style="height: 10px;"></div>
        <a class="btn btn-primary" href="{{ url_for('edit_create.create') }}">Create New</a>
        <div class="row" style="height: 10px;"></div>
    </div>  
    <div class="container feed">
        {% for post in posts %}
            <article class="post">
                <header class="post_title row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <h1 class="heading">{{ post['title'] }}</h1>
                        <div class="time">on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <p class="edit-btn">
                            <a class="btn btn-secondary" href="{{ url_for('edit_create.update', id=post['id']) }}">Edit</a>
                        </p>
                    </div>
                </header>
                <p class="post_content">{{ post['body'] }}</p>
            </article>
            {% if not loop.last %}
            <hr>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
